:root{
  --c-white: white;
  
}




.rows {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: minmax(100px, auto);
    gap: 10px;
  }
  .topname {
    grid-column: 3;
    grid-row: 1;
    margin-top: 20px;
  }
  .navbar {
  grid-column: 2/5;
  grid-row: 2;
  align-items: center;
  }
  .pagecontent {
      grid-column: 2/4;
      grid-row: 2;
  }
  .toplogo {
    grid-column: 3;
    grid-row: 1;
    text-align: center;
    margin-bottom: 0.5rem;
  }
  .container-spacing {
    margin-top: 25px;
    margin-bottom: 25px;
  }
  .text-center {
    text-align: center;
  }
  .obj-center {
    align-items: center;
  }
  .image {
    margin-left: 1.5rem;
    margin-top: 0.5rem;
  }
  .top-space{
    margin-top: 25px;
  }
  .bottom-space {
    margin-bottom: 2rem;
  }
  .sizing {
    font-size: 18px;
  }
  .reference-header {
    margin-bottom: 0;
    margin-top: 25px;
  }
  .slimtainer {
    padding-right: var(--bs-gutter-x, 20rem);
    padding-left: var(--bs-gutter-x, 20rem);
  }
  .top{
    text-align: center;
  }
  .bttn {
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
    background: rgb(200, 200, 0);
    padding: 15px 40px;
    border-radius: 4px;
    font-weight: normal;
    text-transform: uppercase;
    transition: all 0.2s ease-in-out;
  }
  
  .glow-bttn:hover {
    color: rgba(255, 255, 255, 1);
    box-shadow: 0 5px 30px rgba(255, 255, 0, 1);
  }
  .center-div{
    display: flex;
    justify-content: center;
  }
  .white-bg{
    background-color: white;
  }
  .shadow {
    padding: 10px;
    box-shadow: 0px 0px 8px 10px #888888;
    border-radius: 0.3rem;
  }
  .mainlogo{
    width: 40%;
    height: auto;
  }
  @media (max-width: 1600px) {
    .mainlogo{
      width: 50%;
    }
  }
    @media (max-width: 1400px) {
      .mainlogo{
        width: 60%;
      }
    }
      @media (max-width: 1100px) {
        .mainlogo{
          width: 70%;
        }
      }
        @media (max-width: 750px) {
          .mainlogo{
            width: 80%;
          }
        }
          @media (max-width: 500px) {
            .mainlogo{
              width: 100%;
            }
  }
  .blackbanner {
    margin-top: -200;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.300);
  }
  .banner-text {
    color: rgba(255, 255, 255, 0.780); 
  }
  .collumn-1 {
    float:left; 
    width: 50%;
    background-color: #E8F6F7;
}

.collumn-2 {
    float:left; 
    margin-left:30px;
    background-color: #f2dede;
}
.fit {
  width: fit-content;
}
.img-scale {
  width: 80%;
  height: auto;
}
.carousel {
  position: relative;
}
.carousel-item img {
  object-fit: cover;
}
#carousel-thumbs {
  background: rgba(255,255,255,.3);
  bottom: 0;
  left: 0;
  padding: 0 50px;
  right: 0;
}
#carousel-thumbs img {
  border: 5px solid transparent;
  cursor: pointer;
}
#carousel-thumbs img:hover {
  border-color: rgba(255,255,255,.3);
}
#carousel-thumbs .selected img {
  border-color: #fff;
}
.carousel-control-prev,
.carousel-control-next {
  width: 50px;
}
@media all and (max-width: 767px) {
  .carousel-container #carousel-thumbs img {
    border-width: 3px;
  }
}
@media all and (min-width: 576px) {
  .carousel-container #carousel-thumbs {
    position: absolute;
  }
}
@media all and (max-width: 576px) {
  .carousel-container #carousel-thumbs {
    background: #ccccce;
  }
}
#client-testimonial-carousel {min-height: 200px;}